# Data exploration

# Download Zooniverse annotations, build db EDIT: Actually don't need this

In [1]:
import io
import json
from multiprocessing import AuthenticationError

import pandas as pd
import numpy as np

from panoptes_client import Panoptes, Project
from pandas.api.types import is_object_dtype

In [1]:
# zoo_user = getpass.getpass("Enter your Zooniverse user")
zoo_user = "lioruzan"
# zoo_pass = getpass.getpass("Enter your Zooniverse password")
zoo_pass = "@vsYP1muGZ3Z1R&I"


# Connect to Zooniverse with your username and password
auth = Panoptes.connect(username=zoo_user, password=zoo_pass)

if not auth.logged_in:
    raise AuthenticationError("Your credentials are invalid. Please try again.")

# Connect to the Zooniverse project (our frog project # is 13355)
project = Project(13355)

# Get the export classifications
export = project.get_export("classifications")

# Save the response as pandas data frame
classifications = pd.read_csv(
    io.StringIO(export.content.decode("utf-8")),
)
classifications.to_excel("zooniverse_keypoint_annotations.xls")
classifications.to_csv("zooniverse_keypoint_annotations.csv")

# for operational sake keep just these columns
classifications = classifications[["subject_data", "annotations"]]

/var/folders/s9/12gqnpd134j4ft6c49pfgsgr0000gn/T/ipykernel_59450/3379051029.py:32: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  classifications.to_excel("zooniverse_keypoint_annotations.xls")

In [2]:
# load rows from disk
classifications = pd.read_csv("zooniverse_keypoint_annotations.csv", usecols=["subject_data", "annotations"])

In [3]:
def get_subject_data(subject_data_string):
    return list(json.loads(subject_data_string).values())[0]

In [4]:
# filter rows with bad capture ids (2-3 tops)
classifications_df = (
    classifications.join(
    pd.DataFrame(
        data=classifications.subject_data.map(get_subject_data).to_list()))
    .drop(columns=["subject_data", "retired", "frog_id"])
)

# filter nans in "capture" column
idx = classifications_df.capture.notna()
classifications_df = classifications_df[idx]

# filter entries that aren't numeric then cast to int32
numeric_idx = classifications_df.capture.str.isnumeric()
classifications_df = classifications_df[numeric_idx].astype({"capture": np.int32})

In [5]:
classifications_df.columns

Index(['annotations', 'grid', 'capture', 'filename'], dtype='object')

In [56]:
from dateutil.parser import parse
from datetime import datetime
from typing import Any

def is_date(obj: Any) -> bool:
    """
    Return whether the string can be interpreted as a date.

    :param obj: object suspected of being a date
    """
    if obj is np.nan or obj is None:
        return False

    else:
        if isinstance(obj, datetime):
            return True
        
        try: 
            parse(obj, fuzzy=True)
            return True

        except ValueError:
            return False

In [65]:
def is_number(obj: Any) -> bool:
    if (obj is np.nan) or (obj is np.inf) or (obj is -np.inf):
        return False
    elif isinstance(obj, int):
        return True
    elif isinstance(obj, float):
        return True
    else:
        return False

In [70]:
# filter out all bad dates and capture numbers
capture_idx = df.loc[:, "Capture #"].apply(is_number)
date_idx = df.loc[:, "Date"].apply(is_date)
idx = capture_idx & date_idx
print(sum(idx), sum(~idx))
df2 = df[idx].reset_index(drop=True)
print(df2)
df2["Test"] = "test"
df2

829 1209
                    Date Capture # Bag # Time Found  \
0    2005-11-07 00:00:00         1    39   10:19:00
1    2005-11-07 00:00:00         2     5   10:27:00
2    2005-11-07 00:00:00         3    17   10:25:00
3    2005-11-07 00:00:00         4     1   09:39:00
4    2005-11-07 00:00:00         5     2   09:46:00
..                   ...       ...   ...        ...
824  2020-11-26 00:00:00       825   NaN        NaN
825  2020-11-26 00:00:00       826   NaN        NaN
826  2020-11-26 00:00:00       827   NaN        NaN
827  2020-11-26 00:00:00       828   NaN        NaN
828  2020-11-26 00:00:00       829   NaN        NaN

    Capture Location (to nearest m2) X axis Y axis        Habitat Type  \
0                                 H7    NaN    NaN          rice grass
1                                 H5    NaN    NaN          rice grass
2                                 J7    NaN    NaN    hen&chicken fern
3                                 E1    NaN    NaN    hen&chicken fern
4                                 B3    NaN    NaN  on leaf of sapling
..                               ...    ...    ...                 ...
824                               H4    143    167                fern
825                               J5     50    500               ponga
826                               B9     90    890               ponga
827                               I2     20    190              Ground
828                               I9     95    900                tree

    Height above ground (cm)   Searcher  ... Back left mark Back right mark  \
0                          5  H. Cooper  ...              1               1
1                         15  H. Cooper  ...              0               0
2                          2   A. Smale  ...              1              0?
3                         10   A. Smale  ...              0               1
4                         20  W. Davies  ...              0               1
..                       ...        ...  ...            ...             ...
824                      NaN      Maadi  ...              0               0
825                      150       Troy  ...              0               0
826                       90       Troy  ...              1               1
827                        0       Troy  ...              0               0
828                      100       Troy  ...              1               1

    Face left mark Face right mark Capture photo code Frog ID #  \
0                0               0             1100-1        A1
1                0               0             0000-2        A2
2                0               0             1_00-3        A3
3                0               1             0101-4        A4
4                0               0             0100-5        A5
..             ...             ...                ...       ...
824              0               0            8250000      A201
825              0               0            8260000      A216
826              0               0            8271100      A200
827              0               0            8280000      A197
828              0               0            8291100      A191

    Recapture from Previous Session Within Session Recapture  \
0                                no                       no
1                                no                       no
2                                no                       no
3                                no                       no
4                                no                       no
..                              ...                      ...
824                             yes                      yes
825                             yes                       no
826                             yes                      yes
827                             yes                      yes
828                             yes                      yes

                              ID Notes ID From photo
0                                  NaN           NaN
1                                  NaN           NaN
2                    1493 better image           NaN
3                     left nare stripe           NaN
4          very brick coloured and fat           NaN
..                                 ...           ...
824                                NaN           NaN
825                      Possibly 0000           NaN
826                                NaN           NaN
827  "Ninja" (25/11/2020 & 26/11/2020)           NaN
828                                NaN           NaN

[829 rows x 29 columns]

,Date,Capture #,Bag #,Time Found,Capture Location (to nearest m2),X axis,Y axis,Habitat Type,Height above ground (cm),Searcher,...,Back right mark,Face left mark,Face right mark,Capture photo code,Frog ID #,Recapture from Previous Session,Within Session Recapture,ID Notes,ID From photo,Test
0,2005-11-07 00:00:00,1,39,10:19:00,H7,NaN,NaN,rice grass,5,H. Cooper,...,1,0,0,1100-1,A1,no,no,NaN,NaN,test
1,2005-11-07 00:00:00,2,5,10:27:00,H5,NaN,NaN,rice grass,15,H. Cooper,...,0,0,0,0000-2,A2,no,no,NaN,NaN,test
2,2005-11-07 00:00:00,3,17,10:25:00,J7,NaN,NaN,hen&chicken fern,2,A. Smale,...,0?,0,0,1_00-3,A3,no,no,1493 better image,NaN,test
3,2005-11-07 00:00:00,4,1,09:39:00,E1,NaN,NaN,hen&chicken fern,10,A. Smale,...,1,0,1,0101-4,A4,no,no,left nare stripe,NaN,test
4,2005-11-07 00:00:00,5,2,09:46:00,B3,NaN,NaN,on leaf of sapling,20,W. Davies,...,1,0,0,0100-5,A5,no,no,very brick coloured and fat,NaN,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,2020-11-26 00:00:00,825,NaN,NaN,H4,143,167,fern,NaN,Maadi,...,0,0,0,8250000,A201,yes,yes,NaN,NaN,test
825,2020-11-26 00:00:00,826,NaN,NaN,J5,50,500,ponga,150,Troy,...,0,0,0,8260000,A216,yes,no,Possibly 0000,NaN,test
826,2020-11-26 00:00:00,827,NaN,NaN,B9,90,890,ponga,90,Troy,...,1,0,0,8271100,A200,yes,yes,NaN,NaN,test
827,2020-11-26 00:00:00,828,NaN,NaN,I2,20,190,Ground,0,Troy,...,0,0,0,8280000,A197,yes,yes,"""Ninja"" (25/11/2020 & 26/11/2020)",NaN,test
828,2020-11-26 00:00:00,829,NaN,NaN,I9,95,900,tree,100,Troy,...,1,0,0,8291100,A191,yes,yes,NaN,NaN,test

In [71]:
import matplotlib.pyplot as plt
whareorino_excel_file = f"Whareorino frog monitoring data 2005 onwards CURRENT FILE - DOCDM-106978.xls"
grids = ["Grid A", "Grid B", "Grid C", "Grid D"]

# for grid in grids:
#     df = pd.read_excel(whareorino_excel_file, sheet_name=grid)
#     date_idx = df.loc[:, "Date"].apply(is_date)
#     print(grid, df.loc[:, "Date"])
    
big_df = pd.read_excel(whareorino_excel_file, sheet_name=grids)
big_df

{'Grid A':                      Date Capture # Bag # Time Found  \
 0     2005-11-07 00:00:00         1    39   10:19:00
 1     2005-11-07 00:00:00         2     5   10:27:00
 2     2005-11-07 00:00:00         3    17   10:25:00
 3     2005-11-07 00:00:00         4     1   09:39:00
 4     2005-11-07 00:00:00         5     2   09:46:00
 ...                   ...       ...   ...        ...
 2033                  NaN      1996   NaN        NaN
 2034                  NaN      1997   NaN        NaN
 2035                  NaN      1998   NaN        NaN
 2036                  NaN      1999   NaN        NaN
 2037                  NaN      2000   NaN        NaN

      Capture Location (to nearest m2) X axis Y axis        Habitat Type  \
 0                                  H7    NaN    NaN          rice grass
 1                                  H5    NaN    NaN          rice grass
 2                                  J7    NaN    NaN    hen&chicken fern
 3                                  E1    NaN    NaN    hen&chicken fern
 4                                  B3    NaN    NaN  on leaf of sapling
 ...                               ...    ...    ...                 ...
 2033                              NaN    NaN    NaN                 NaN
 2034                              NaN    NaN    NaN                 NaN
 2035                              NaN    NaN    NaN                 NaN
 2036                              NaN    NaN    NaN                 NaN
 2037                              NaN    NaN    NaN                 NaN

      Height above ground (cm)   Searcher  ... Back left mark Back right mark  \
 0                           5  H. Cooper  ...              1               1
 1                          15  H. Cooper  ...              0               0
 2                           2   A. Smale  ...              1              0?
 3                          10   A. Smale  ...              0               1
 4                          20  W. Davies  ...              0               1
 ...                       ...        ...  ...            ...             ...
 2033                      NaN        NaN  ...            NaN             NaN
 2034                      NaN        NaN  ...            NaN             NaN
 2035                      NaN        NaN  ...            NaN             NaN
 2036                      NaN        NaN  ...            NaN             NaN
 2037                      NaN        NaN  ...            NaN             NaN

      Face left mark Face right mark Capture photo code Frog ID #  \
 0                 0               0             1100-1        A1
 1                 0               0             0000-2        A2
 2                 0               0             1_00-3        A3
 3                 0               1             0101-4        A4
 4                 0               0             0100-5        A5
 ...             ...             ...                ...       ...
 2033            NaN             NaN                NaN       NaN
 2034            NaN             NaN                NaN       NaN
 2035            NaN             NaN                NaN       NaN
 2036            NaN             NaN                NaN       NaN
 2037            NaN             NaN                NaN       NaN

      Recapture from Previous Session Within Session Recapture  \
 0                                 no                       no
 1                                 no                       no
 2                                 no                       no
 3                                 no                       no
 4                                 no                       no
 ...                              ...                      ...
 2033                             NaN                      NaN
 2034                             NaN                      NaN
 2035                             NaN                      NaN
 2036                             NaN                      NaN
 2037                             NaN                      NaN

                          ID Notes ID From photo
 0                             NaN           NaN
 1                             NaN           NaN
 2               1493 better image           NaN
 3                left nare stripe           NaN
 4     very brick coloured and fat           NaN
 ...                           ...           ...
 2033                          NaN           NaN
 2034                          NaN           NaN
 2035                          NaN           NaN
 2036                          NaN           NaN
 2037                          NaN           NaN

 [2038 rows x 29 columns],
 'Grid B':                      Date Capture # Bag # Time Found  \
 0     2005-11-14 00:00:00      2001    20   10:53:00
 1     2005-11-14 00:00:00      2002    41   10:42:00
 2     2005-11-14 00:00:00      2003    28   10:31:00
 3     2005-11-14 00:00:00      2004    33   10:32:00
 4     2005-11-14 00:00:00      2005    34   10:46:00
 ...                   ...       ...   ...        ...
 2010                  NaN      3996   NaN        NaN
 2011                  NaN      3997   NaN        NaN
 2012                  NaN      3998   NaN        NaN
 2013                  NaN      3999   NaN        NaN
 2014                  NaN      4000   NaN        NaN

      Capture Location (to nearest m2) X axis  Y axis Habitat Type  \
 0                                  A1    A20    65.0  leaf litter
 1                                  B1    B88    88.0    Blec fluv
 2                                  B3    B20   210.0  leaf litter
 3                                  E2    E32   110.0   hook grass
 4                                  B1    B49    38.0          log
 ...                               ...    ...     ...          ...
 2010                              NaN    NaN     NaN          NaN
 2011                              NaN    NaN     NaN          NaN
 2012                              NaN    NaN     NaN          NaN
 2013                              NaN    NaN     NaN          NaN
 2014                              NaN    NaN     NaN          NaN

      Height above ground (cm)   Searcher  ... Back left mark Back right mark  \
 0                           0   A. Smale  ...              0               0
 1                          10   A. Smale  ...              1               1
 2                          10   A. Smale  ...              0               0
 3                           5  H. Cooper  ...              1               1
 4                          10   A. Smale  ...              0               0
 ...                       ...        ...  ...            ...             ...
 2010                      NaN        NaN  ...            NaN             NaN
 2011                      NaN        NaN  ...            NaN             NaN
 2012                      NaN        NaN  ...            NaN             NaN
 2013                      NaN        NaN  ...            NaN             NaN
 2014                      NaN        NaN  ...            NaN             NaN

      Face left mark Face right mark Capture photo code Frog ID #  \
 0                 0               0          0000-2001        B1
 1                 0               0          1100-2002        B2
 2                 0               0          0000-2003        B3
 3                 1               0          1110-2004        B4
 4                 0               0          0000-2005        B5
 ...             ...             ...                ...       ...
 2010            NaN             NaN                NaN       NaN
 2011            NaN             NaN                NaN       NaN
 2012            NaN             NaN                NaN       NaN
 2013            NaN             NaN                NaN       NaN
 2014            NaN             NaN                NaN       NaN

      Recapture from Previous Session Within Session Recapture  \
 0                                 no                       no
 1                                 no                       no
 2                                 no                       no
 3                                 no                       no
 4                                 no                       no
 ...                              ...                      ...
 2010                             NaN                      NaN
 2011                             NaN                      NaN
 2012                             NaN                      NaN
 2013                             NaN                      NaN
 2014                             NaN                      NaN

                                                ID Notes ID From photo
 0                                                   NaN           NaN
 1                     brick coloured frog with no green           NaN
 2     tiny green spot on anterior tip of right dorsa...           NaN
 3                                                   NaN           NaN
 4     brick with small bright green highlights on do...           NaN
 ...                                                 ...           ...
 2010                                                NaN           NaN
 2011                                                NaN           NaN
 2012                                                NaN           NaN
 2013                                                NaN           NaN
 2014                                                NaN           NaN

 [2015 rows x 29 columns],
 'Grid C':                      Date  Capture # Bag # Time Found  \
 0     2005-12-05 00:00:00     4001.0    13   0.414583
 1     2005-12-05 00:00:00     4002.0     1   0.443056
 2     2005-12-05 00:00:00     4003.0    57   0.410417
 3     2005-12-05 00:00:00     4004.0    20   0.444444
 4     2005-12-05 00:00:00     4005.0    45   0.420833
 ...                   ...        ...   ...        ...
 2692  2021-04-04 00:00:00     8692.0   NaN        NaN
 2693  2021-04-04 00:00:00     8693.0   NaN        NaN
 2694  2021-04-04 00:00:00     8694.0   NaN        NaN
 2695  2021-04-04 00:00:00     8695.0   NaN        NaN
 2696  2021-04-04 00:00:00     8696.0   NaN        NaN

      Capture Location (to nearest m2) X axis Y axis     Habitat Type  \
 0                                  E2    E72    109      leaf litter
 1                                  C8    C46    735       hook grass
 2                                  C1    C73     75  dead fern frond
 3                                  F6    F85    540        blec fluv
 4                                  C4    C90    360        blec fluv
 ...                               ...    ...    ...              ...
 2692                              H01    H01     30              NaN
 2693                               D2    D50    100              NaN
 2694                              C01    C30     90              NaN
 2695                               C3     C0    200              NaN
 2696                               C3     C0    200              NaN

      Height above ground (cm)   Searcher  ...  Back left mark Back right mark  \
 0                           0  W. Davies  ...               0               1
 1                           2  H. Cooper  ...               1               1
 2                           3  H. Cooper  ...               1               1
 3                           3  W. Davies  ...               ?               1
 4                           4  H. Cooper  ...               1               1
 ...                       ...        ...  ...             ...             ...
 2692                      NaN        NaN  ...             NaN             NaN
 2693                      NaN        NaN  ...             NaN             NaN
 2694                      NaN        NaN  ...             NaN             NaN
 2695                      NaN        NaN  ...             NaN             NaN
 2696                      NaN        NaN  ...             NaN             NaN

      Face left mark Face right mark Capture photo code Frog ID #  \
 0                 0               0          0100-4001        C1
 1                 0               1          1101-4002        C2
 2                 0               0          1100-4003        C3
 3                 0               0          _100-4004        C4
 4                 0               0          1100-4005        C5
 ...             ...             ...                ...       ...
 2692            NaN             NaN                NaN       NaN
 2693            NaN             NaN                NaN       NaN
 2694            NaN             NaN                NaN       NaN
 2695            NaN             NaN                NaN       NaN
 2696            NaN             NaN                NaN       NaN

      Recapture from Previous Session Within Session Recapture  \
 0                                 no                       no
 1                                 no                       no
 2                                 no                       no
 3                                 no                       no
 4                                 no                       no
 ...                              ...                      ...
 2692                             NaN                      NaN
 2693                             NaN                      NaN
 2694                             NaN                      NaN
 2695                             NaN                      NaN
 2696                             NaN                      NaN

                                                ID Notes ID From photo
 0     small, brick-coloured frog w/ bright green mar...           NaN
 1     triangle-shaped right side connection.  side c...           NaN
 2     dark frog w/ some dark green highlighting on b...           NaN
 3                   dark. lack of left 2nd dorsal mark?           NaN
 4     knobby, bumpy profile. an  Archey's/stegasauru...           NaN
 ...                                                 ...           ...
 2692                                                NaN           NaN
 2693                                                NaN           NaN
 2694                                                NaN           NaN
 2695                                                NaN           NaN
 2696                                                NaN           NaN

 [2697 rows x 29 columns],
 'Grid D':                      Date Capture # Bag # Time Found  \
 0     2005-11-28 00:00:00      6001    28   10:53:00
 1     2005-11-28 00:00:00      6002    27   10:15:00
 2     2005-11-28 00:00:00      6003    34   10:35:00
 3     2005-11-29 00:00:00      6004    29   09:50:00
 4     2005-11-29 00:00:00      6005    26   10:30:00
 ...                   ...       ...   ...        ...
 3230                  NaN       NaN   NaN        NaN
 3231                  NaN       NaN   NaN        NaN
 3232                  NaN       NaN   NaN        NaN
 3233                  NaN       NaN   NaN        NaN
 3234                  NaN      xxxx   NaN        NaN

      Capture Location (to nearest m2) X axis  Y axis  \
 0                                  H9    H64   842.0
 1                                  D3    D40   229.0
 2                                  E1    E54    80.0
 3                                  E1    E34    94.0
 4                                  F6    F13   600.0
 ...                               ...    ...     ...
 3230                              NaN    NaN     NaN
 3231                              NaN    NaN     NaN
 3232                              NaN    NaN     NaN
 3233                              NaN    NaN     NaN
 3234                              NaN    NaN     NaN

                            Habitat Type Height above ground (cm)  Searcher  \
 0                      leaf under stick                        0  A. Smale
 1           Leaf litter under blec fluv                        0   A Smale
 2                     mossey supplejack                       30  H Cooper
 3     ground fern, under sticks on bank                       30   A Smale
 4                  leaf under blec fluv                        0   A Smale
 ...                                 ...                      ...       ...
 3230                                NaN                      NaN       NaN
 3231                                NaN                      NaN       NaN
 3232                                NaN                      NaN       NaN
 3233                                NaN                      NaN       NaN
 3234                                NaN                      NaN       NaN

       ... Back left mark Back right mark Face left mark Face right mark  \
 0     ...              1               1              0               0
 1     ...              1               0              0               0
 2     ...              0               0              0               1
 3     ...              1               0              0               0
 4     ...              1               1              0               0
 ...   ...            ...             ...            ...             ...
 3230  ...            NaN             NaN            NaN             NaN
 3231  ...            NaN             NaN            NaN             NaN
 3232  ...            NaN             NaN            NaN             NaN
 3233  ...            NaN             NaN            NaN             NaN
 3234  ...            NaN             NaN            NaN             NaN

      Capture photo code Frog ID # Recapture from Previous Session  \
 0             1100-6001        D1                              no
 1             1000-6002        D2                              no
 2             0001-6003        D3                              no
 3             1000-6004        D4                              no
 4             1100-6005        D5                              no
 ...                 ...       ...                             ...
 3230                NaN       NaN                             NaN
 3231                NaN       NaN                             NaN
 3232                NaN       NaN                             NaN
 3233                NaN       NaN                             NaN
 3234                NaN       NaN                             NaN

      Within Session Recapture  \
 0                          no
 1                          no
 2                          no
 3                          no
 4                          no
 ...                       ...
 3230                      NaN
 3231                      NaN
 3232                      NaN
 3233                      NaN
 3234                      NaN

                                                ID Notes ID From photo
 0     virtually no green save a couple small dots on...           NaN
 1                                                   NaN           NaN
 2           funky green patch on left side of nose/face           NaN
 3                       near left narestripe connection           NaN
 4     dorsal markings are stripe-like, running lengt...           NaN
 ...                                                 ...           ...
 3230                                                NaN           NaN
 3231                                                NaN           NaN
 3232                                                NaN           NaN
 3233                                                NaN           NaN
 3234                                                NaN           NaN

 [3235 rows x 29 columns]}

In [6]:
""" open whareorino excel and try to connect each row to one or more pictures """
dbs = dict()
whareorino_excel_file = f"Whareorino frog monitoring data 2005 onwards CURRENT FILE - DOCDM-106978.xls"
grids = ["Grid A", "Grid B", "Grid C", "Grid D"]

for grid in grids:
    df = pd.read_excel(whareorino_excel_file, sheet_name=grid)

    # filter nans and cast Capture # as int32
    if is_object_dtype(df["Capture #"]):
        int_idx = df["Capture #"].str.isnumeric().isna()
        df = df[int_idx]
        int_idx = df["Capture #"].notna()
        dbs[grid] =  df[int_idx].astype({"Capture #": np.int32})
    
    else:
        nan_idx = df["Capture #"].notna()
        dbs[grid] = df[nan_idx].astype({"Capture #": np.int32})

In [7]:
pukeokahu_excel_file = "Pukeokahu Monitoring Data 2006 onwards - DOCDM-95563.xls"

df = pd.read_excel(pukeokahu_excel_file, sheet_name="MR Data")

# filter nans and cast Capture # as int32
notna_idx = df["Capture #"].notna()
dbs['Pukeokahu Frog Monitoring'] = (
    df[notna_idx]
    .astype({"Capture #": np.int32})
)

In [8]:
db = pd.concat(list(dbs.values())).reset_index(drop=True)
db

,Date,Capture #,Bag #,Time Found,Capture Location (to nearest m2),X axis,Y axis,Habitat Type,Height above ground (cm),Searcher,...,Back left mark,Back right mark,Face left mark,Face right mark,Capture photo code,Frog ID #,Recapture from Previous Session,Within Session Recapture,ID Notes,ID From photo
0,2005-11-07 00:00:00,1,39,10:19:00,H7,NaN,NaN,rice grass,5,H. Cooper,...,1,1,0,0,1100-1,A1,no,no,NaN,NaN
1,2005-11-07 00:00:00,2,5,10:27:00,H5,NaN,NaN,rice grass,15,H. Cooper,...,0,0,0,0,0000-2,A2,no,no,NaN,NaN
2,2005-11-07 00:00:00,3,17,10:25:00,J7,NaN,NaN,hen&chicken fern,2,A. Smale,...,1,0?,0,0,1_00-3,A3,no,no,1493 better image,NaN
3,2005-11-07 00:00:00,4,1,09:39:00,E1,NaN,NaN,hen&chicken fern,10,A. Smale,...,0,1,0,1,0101-4,A4,no,no,left nare stripe,NaN
4,2005-11-07 00:00:00,5,2,09:46:00,B3,NaN,NaN,on leaf of sapling,20,W. Davies,...,0,1,0,0,0100-5,A5,no,no,very brick coloured and fat,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10477,2020-11-12 00:00:00,8897,55,22:00:00,H25,H36,2496,ponga,5,Emily E,...,1,1,0,0,1100-8897,P497,no,no,NaN,NaN
10478,2020-11-12 00:00:00,8898,31,21:52:00,P23,P70,2276,fern fronds,0,Kelly-Anne,...,1,1,0,0,1100-8898,P498,no,no,NaN,NaN
10479,2020-11-12 00:00:00,8899,52,22:25:00,G14,G58,1394,BlEflu,7,Emily E,...,1,1,0,0,1100-8899,P492,no,no,NaN,NaN
10480,2020-11-12 00:00:00,8900,40,22:03:00,I20,I73,1960,fern,10,Emily J,...,1,1,0,1,1101-8890,P493,no,no,NaN,NaN
10481,2020-11-12 00:00:00,8901,18,21:46:00,T19,T80,1810,fern,4,Riki,...,1,0,0,0,1000-8901,P494,no,no,NaN,NaN

In [9]:
# use "capture", "Capture #" columns to merge rows from Zooniverse data to excel db rows
db = db.merge(right=classifications_df, left_on="Capture #", right_on="capture").drop(columns=["capture"])
db

,Date,Capture #,Bag #,Time Found,Capture Location (to nearest m2),X axis,Y axis,Habitat Type,Height above ground (cm),Searcher,...,Face right mark,Capture photo code,Frog ID #,Recapture from Previous Session,Within Session Recapture,ID Notes,ID From photo,annotations,grid,filename
0,2005-11-07 00:00:00,1,39,10:19:00,H7,NaN,NaN,rice grass,5,H. Cooper,...,0,1100-1,A1,no,no,NaN,NaN,"[{""task"":""T0"",""task_label"":""Label the landmark...",Grid A,1100-1.jpg
1,2005-11-07 00:00:00,1,39,10:19:00,H7,NaN,NaN,rice grass,5,H. Cooper,...,0,1100-1,A1,no,no,NaN,NaN,"[{""task"":""T0"",""task_label"":""Label the landmark...",Grid A,1100-1.jpg
2,2005-11-07 00:00:00,2,5,10:27:00,H5,NaN,NaN,rice grass,15,H. Cooper,...,0,0000-2,A2,no,no,NaN,NaN,"[{""task"":""T0"",""task_label"":""Label the landmark...",Grid C,1101-2.jpg
3,2005-11-07 00:00:00,2,5,10:27:00,H5,NaN,NaN,rice grass,15,H. Cooper,...,0,0000-2,A2,no,no,NaN,NaN,"[{""task"":""T0"",""task_label"":""Label the landmark...",Grid A,0000-2.jpg
4,2005-11-07 00:00:00,5,2,09:46:00,B3,NaN,NaN,on leaf of sapling,20,W. Davies,...,0,0100-5,A5,no,no,very brick coloured and fat,NaN,"[{""task"":""T0"",""task_label"":""Label the landmark...",Grid A,0100-5.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2276,2018-11-15 00:00:00,8785,68,21:40:00,G20,G35,1950,blec fluv,1,Leigh,...,1,1101-8785,P388,yes,yes,Caught 14/11/18,NaN,"[{""task"":""T0"",""task_label"":""Label the landmark...",Pukeokahu Frog Monitoring,1101-8785.JPG
2277,2018-11-15 00:00:00,8791,61,21:35:00,H21,H76,2000,blec fluv,1,Leigh,...,0,1100-8791,P452,no,no,new,NaN,"[{""task"":""T0"",""task_label"":""Label the landmark...",Pukeokahu Frog Monitoring,1100-8791.JPG
2278,2018-11-15 00:00:00,8792,27,22:14:00,R21,R15,2011,ponga leaf litter,0,Abi,...,0,1100-8792,P453,no,no,new,NaN,"[{""task"":""T0"",""task_label"":""Label the landmark...",Pukeokahu Frog Monitoring,1100-8792.JPG
2279,2018-11-15 00:00:00,8796,51,22:45:00,Q19,Q53,1883,fern frond,0,Kat,...,0,1_00-8796,P456,no,no,new,NaN,"[{""task"":""T0"",""task_label"":""Label the landmark...",Pukeokahu Frog Monitoring,1_00-8796.JPG
2280,2018-11-15 00:00:00,8796,51,22:45:00,Q19,Q53,1883,fern frond,0,Kat,...,0,1_00-8796,P456,no,no,new,NaN,"[{""task"":""T0"",""task_label"":""Label the landmark...",Pukeokahu Frog Monitoring,1_00-8796.JPG

## Concatenate all grid dataframes to one, use "grid" column to differentiate them

In [10]:
db.to_excel("27.11.22_capture_db.xls", index=False)

/var/folders/s9/12gqnpd134j4ft6c49pfgsgr0000gn/T/ipykernel_48073/4189465488.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  db.to_excel("27.11.22_capture_db.xls", index=False)